{% if page.meta.comments %}
<!-- That custom parts can cause problem with i18n -->
<h2 id="comments">Commentaires<a class="headerlink" href="#commentaires" title="Lien permanent"></a></h2>
  <!-- Insert generated snippet here -->
  <script src="https://giscus.app/client.js"
  data-repo="c2tz/c2tz.li"
  data-repo-id="R_kgDOLHK93A"
  data-category="Comments"
  data-category-id="DIC_kwDOLHK93M4CdSTg"
  data-mapping="pathname"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="https://blog.cta.li/stylesheets/extra.css"
  data-lang="fr"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
{% endif %}